version: '2'


networks:
    bibbox-default-network:
      external: true

services:

  §§INSTANCE-openspecimen-web:
    image: bibbox/openspecimen
    container_name: §§INSTANCE-openspecimen-web
    restart: unless-stopped
    networks:
      - bibbox-default-network
    links:
      - §§INSTANCE-openspecimen-db:§§INSTANCE-openspecimen-db
    ports:
      - "§§PORT:8080"
    environment:
      - DATABASE_HOST=§§INSTANCE-openspecimen-db
      - MYSQL_ROOT_PASSWORD=§§MYSQL_ROOT_PASSWORD
      - MYSQL_DATABASE=§§MYSQL_DATABASE
      - MYSQL_USER=§§MYSQL_USER
      - MYSQL_PASSWORD=§§MYSQL_PASSWORD
      - TOMCAT_MANAGER_USER=§§TOMCAT_MANAGER_USER
      - TOMCAT_MANAGER_PASSWORD=§§TOMCAT_MANAGER_PASSWORD
      - INSTITUTE_NAME=§§INSTITUTE_NAME
      - EMAIL_ADDRESS=§§EMAIL_ADDRESS
      - FIRST_NAME=§§FIRST_NAME
      - LAST_NAME=§§LAST_NAME
      - LOGIN_NAME=§§LOGIN_NAME
      - ADDRESS=§§ADDRESS
    depends_on:
      - §§INSTANCE-openspecimen-db
      - §§INSTANCE-openspecimen-data
    volumes_from: 
      - §§INSTANCE-openspecimen-data

  §§INSTANCE-openspecimen-db:
    image: mariadb
    container_name: §§INSTANCE-openspecimen-db
    restart: unless-stopped
    networks:
      - bibbox-default-network
    environment:
      - MYSQL_ROOT_PASSWORD=§§MYSQL_ROOT_PASSWORD
      - MYSQL_DATABASE=§§MYSQL_DATABASE
      - MYSQL_USER=§§MYSQL_USER
      - MYSQL_PASSWORD=§§MYSQL_PASSWORD
    volumes_from: 
      - §§INSTANCE-openspecimen-data
    depends_on:
      - §§INSTANCE-openspecimen-data

  §§INSTANCE-openspecimen-data:
    image: busybox
    container_name: §§INSTANCE-openspecimen-data
    volumes:
      - §§FOLDER/config/openspecimen.cnf:/etc/mysql/conf.d/openspecimen.cnf
      - §§FOLDER/data/mysql:/var/lib/mysql
      - §§FOLDER/data/os-data:/opt/openspecimen/os-data
      - §§FOLDER/data/os-plugins:/opt/openspecimen/os-plugins
      - §§FOLDER/data/dist:/opt/dist
